.leftmargin {
	margin-left: 3em;
}

.google-maps {
	position: relative;
	margin-bottom: 20px;
	height: 200px;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

