/*
	Site-wide styling
 */
body {
  padding-top: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
  color: #5a5a5a; }

::selection {
  /* WebKit/Blink Browsers */
  background: red;
  color: white; }

::-moz-selection {
  /* Gecko Browsers */
  background: red;
  color: white; }

.container h1 {
  text-align: center;
  margin: 40px 0; }

.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

h1 {
  font-size: 3rem; }

h2 {
  margin: 20px auto; }

.navbar {
  padding: 0.25rem 1rem; }

.navbar-brand img {
  width: 30px; }

.nav-item {
  margin: auto 10px; }

.dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-top: 0.25rem; }

.dropdown-item.active, .dropdown-item:active {
  background-color: red; }

.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg); }

.dropdown-toggle::after {
  margin-left: 0.5em;
  vertical-align: 0.15em; }
