/*
	Site-wide styling
 */

// VARIABLES

// TODO
$textselectionbg: #b10000;
$textselectioncolour: white;

// General page settings

body {
	padding-top: 3.5rem; // move down content because of fixed navbar
	font-family: 'Lato', sans-serif;
	padding-bottom: 40px;
	color: #5a5a5a;
}

::selection {
	/* WebKit/Blink Browsers */
	background: $textselectionbg;
	color: $textselectioncolour;
}
::-moz-selection {
	/* Gecko Browsers */
	background: $textselectionbg;
	color: $textselectioncolour;
}

.container {
	h1 {
		text-align: center;
		margin: 40px 0;
	}

	h1, h2, h3, h4, h5, h6 {
		-ms-word-break: break-all;
		word-break: break-all;

		/* Non standard for webkit */
		word-break: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}

h1 {
	font-size: 3rem;
}

h2 {
	margin: 20px auto;
}

footer {
	// TODO
	//height: 3em;
	//vertical-align: middle;
}

// Navbar

.navbar {
	padding: 0.25rem 1rem;
}

.navbar-brand {
	img {
		width: 30px;
	}
}

.nav-item {
	margin: auto 10px;
}

.dropdown-menu {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	margin-top: 0.25rem;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-item.active, .dropdown-item:active {
	background-color: $textselectionbg;
}

.dropdown-toggle[aria-expanded="true"]:after {
	transform: rotate(180deg);
}

.dropdown-toggle::after {
	margin-left: 0.5em;
	vertical-align: 0.15em;
}

