.photo_huur {
	max-width: 75%;
	@media (min-width: 992px) {
		max-width: 60%;
	}

	img {
		width: 100%;
	}

	margin: 25px auto;
}
#lokaal_picture {
	width: 40%;
	float: right;
	margin: 10px;
}

#geennieuweaanvragen {
	//margin: 10rem 0;
	//line-height: 1.5em;
}

#calendar {
	@media (max-width: 400px) {
		h2 {
			font-size: 1.25em;
		}
	}
}
