.photos img {
  width: 100%;
  height: auto; }

#uniform .row img {
  height: auto;
  width: auto;
  max-height: 150px;
  display: block;
  margin: auto; }

#uniform .row .col-md-4 {
  max-height: 150px;
  margin: 10px auto; }
