.kledij-item {
	margin: 10px auto;
}

.kledij-item-inner {
	border: 3px solid #5cb85c;
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 16px;
	min-height: 350px; // TODO adapt for responsive

	img {
		display: block;
		max-height: 200px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	h4 {
		text-align: center;
	}
}

.quantity-wrapper {
	padding-right: 0;
}
