h2 {
  margin: 10px 0; }

.leiding p {
  text-align: justify; }

.leiding img {
  width: 99%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.leidingpic {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 992px) {
  .content img {
    max-width: 50%;
    max-height: 50%; } }

@media (min-width: 768px) {
  .content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify; } }
